<!DOCTYPE html>
{% load static %}
{% load bootstrap5 %}
<html lang="en">
<head>
	<title>Login</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{% static 'css/login/images/icons/favicon.ico' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'css/login/vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'css/login/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'css/login/fonts/iconic/css/material-design-iconic-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'css/login/vendor/animate/animate.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'css/login/vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'css/login/vendor/animsition/css/animsition.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'css/login/vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'css/login/vendor/daterangepicker/daterangepicker.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'css/login/css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/login/css/main.css' %}">
<!--===============================================================================================-->
</head>
<body>
	<style>
		body{
			background-color:powderblue;
		}
		</style>
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
					{% if registered %}
					<div class="alert alert-success">
						<strong>Success!</strong> Thank You for Register
					</div>
					<h1></h1>
					{% else %}
					<h1 class="text-aligin-center">Register Here</h1>
				<!-- <h3>Fill Out the form:</h3> -->
					<br>
					<form enctype="multipart/form-data" method="post">
						<br>
						{% csrf_token %}
						<br>
						{% bootstrap_form user_form %}
						<br>
						{% bootstrap_form profile_form %}
						<input type="submit" value="Register" class="btn btn-primary">
				
					</form>
					{% endif %}
			</div>
		</div>
	</div>
	

	<div id="dropDownSelect1"></div>
	
<!--===============================================================================================-->
	<script src="{% static 'css/login/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'css/login/vendor/animsition/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'css/login/vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'css/login/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'css/login/vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'css/login/vendor/daterangepicker/moment.min.js' %}"></script>
	<script src="{% static 'css/login/vendor/daterangepicker/daterangepicker.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'css/login/vendor/countdowntime/countdowntime.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'css/login/js/main.js' %}"></script>

</body>
</html>
				
				
